@using AspNetCoreMvcControllerRunnerIssue.Test
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AspNetCoreControllerRunner</title>
</head>
<body>
    <h1>Showing output from multiple controllers</h1>
    <div>
        @await Html.Render().RenderViewComponentAsync("TestOne")
        @await Html.Render().RenderViewComponentAsync("TestTwo")
    </div>
    <h2>Inline</h2>
    @await Component.InvokeAsync("TestTwo")
</body>
</html>