@using AspNetCoreMvcControllerRunnerIssue.Test
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AspNetCoreControllerRunner</title>
</head>
<body>
    <h1>Showing output from multiple components...</h1>
    <div>
        @await Html.RenderPlaceholderAsync()
    </div>
</body>
</html>